DB_OpenData/datasets/OPENDATA_BOOKING_CARSHARING.csv
DB_OpenData/datasets/OPENDATA_CATEGORY_CARSHARING.csv
DB_OpenData/datasets/OPENDATA_RENTAL_ZONE_CARSHARING.csv
DB_OpenData/datasets/OPENDATA_VEHICLE_CARSHARING.csv
DB_OpenData/output/*
target/
20170827_badFindings.json
20170829_badFindings.json
extractBrokenTableNamespaces.awk
import.report
extensions/.metadata
extensions/de.m.k.neo4j.ext/.settings
.classpath
.project
